<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanxi - Fashion Retailer</title>

    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="body.css">
    <link rel="stylesheet" type="text/css" href="collection.css">
    <link rel="stylesheet" type="text/css" href="sale.css">
    <link rel="stylesheet" type="text/css" href="musthaves.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <link rel="stylesheet" type="text/css" href="footer.css">

    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

</head>

<body>
    <div class="header__bar">Free Shipping on Orders Over 50$</div>
    <nav class="section__container nav__container">
        <a href="#" class="nav__logo">Hanxi</a>
        <ul class="nav__links">
            <li class="link"><a href="#">Women</a></li>
            <li class="link"><a href="#">Men</a></li>
            <li class="link"><a href="#">Androgynous</a></li>
        </ul>
        <div class="nav__icons">
            <span><i class="ri-shield-user-line"></i></span>
            <span><i class="ri-search-line"></i></span>
            <span><i class="ri-shopping-bag-2-line"></i></span>
        </div>
    </nav>

    <header>
        <div class="section__container header__container">
            <div class="header__content">
                <p>SPRING SALE: Up to -30% EXTRA off</p>
            </div>
        </div>
    </header>
</body>

</html>